<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clipboard Saver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large"><ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>Clipboard Saver</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="getClipboardContent()" expand="block" class="ion-padding">Save Clipboard</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
      {{ clipboardResult }}
      </ion-card-title>
      <ion-card-subtitle>Clipboard</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
